<p id="about_me">hi, this is abhishek. <br>2016 graduate from IIT (ISM) Dhanbad, currently working as SDE-1 at Box8, Bangalore. Please send me feedback at codemonk0111@gmail.com, being a newbie in angular I'll really appreciate your feedback. Thanks! :)<br><br>

During my college I desinged and developed a software module for Schlumberger. Have a look at video below</p><br><br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/72HXaK5d6RQ" frameborder="0" allowfullscreen></iframe>

<style type="text/css">
#about_me{
  color: black; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  overflow: hidden;
  width: 30em;
}
</style>